set editing-mode vi

set bind-tty-special-chars off

# man bash | less -p beginning-of-line

# Example file:
# http://www.gnu.org/software/bash/manual/html_node/Sample-Init-File.html
# docs on the `bind` builtin command:
# http://theory.uwinnipeg.ca/localfiles/infofiles/bash/bashref_55.html
$if mode=vi-insert
    #      ↓ Thanks for this, cirᴡɪɴ!
    "\e_": insert-last-argument

    # TODO: Dump all of emacs mode and re-use any that do not conflict with
    # vi-insert mode
    # ...
$endif

"\C-a": beginning-of-line
"\C-e": end-of-line

# More like vim's default iskeyword's
"\C-w": backward-kill-word

