set editing-mode vi

# Nothing below is really working (yet)

# man bash | less -p beginning-of-line

# Example file:
# http://www.gnu.org/software/bash/manual/html_node/Sample-Init-File.html
# docs on the `bind` builtin command:
# http://theory.uwinnipeg.ca/localfiles/infofiles/bash/bashref_55.html
$if mode=vi-insert
    bind "\C-a": beginning-of-line
    bind "\C-e": end-of-line

    #      ↓ Thanks for this, cirᴡɪɴ!
    bind "\e_": insert-last-argument

    # TODO: Dump all of emacs mode and re-use any that do not conflict with
    # vi-insert mode
    # ...
$endif
